<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UosCrusher | Unit Review</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/unit_review.css}" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script th:src="@{/starrr.js}" ></script>
	<script th:src="@{/unit_review.js}" ></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	      <a class="navbar-brand" href="#">UoSCrasher</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarCollapse">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000">Home </a>
	          </li>
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000/login">Login</a>
	          </li>
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000/logout">Logout</a>
	          </li>
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000/search">Search</a>
	          </li>
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000/dashboard">Profile</a>
	          </li>
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000/registration">Register</a>
	          </li>
	          
	          <li class="nav-item active">
	            <a class="nav-link" href="http://localhost:3000/view_questions/ELEC5619">Self Test</a>
	          </li>
	         
          
	          
	          
	        </ul>
	        
	      </div>
	</nav>
	
	
	<main role="main" class="container">
		<div  class="row"><p></p></div>
		<div class="jumbotron title-section bg-white border-dark shadow rounded">
			<div class="container">
				<div hidden th="${student)"></div>
				<h1 class="display-6" th:text="${unit.unitCode} + ' ' + ${unit.unitName}"></h1>
			</div>
		</div>	
    
    	<div class="row">
    		<div class="col-3 side-column bg-white border-dark shadow rounded ">
    			<div class="side-item">
    				<p>Mode</p>
    				<p th:text="${unit.unitMode}"></p>    				
    			</div>
    			<div class="side-item">
    				<p>Faculty/School</p>
    				<p th:text="${unit.facultySchool}"></p>    				
    			</div>
    			<div class="side-item">
    				<p>Unit Coordinator</p>
    				<p th:text="${unit.lecturer}"></p>    				
    			</div>
    			<div class="side-item">
    				<p>Session Options</p>
    				<p th:text="${unit.sessionOption}"></p>    				
    			</div>
     			<div class="side-item d-none" >
    				<p>unitID</p>
    				<p th:text="${unit.unitId}"></p>    				
    			</div>
    		</div><!--end of side-column -->
			<div class="col-9 review-column ">    		
 
 				<!-- User Reviews Display -->
 				<div class="pre-scrollable" id="review-list">  
 				<th:block th:each="rv : ${reviewList}">
	 				<div class="row review-item ">
	 					<!-- row 1 -->
	 					<span class="col-3" id= "reviewerName" th:text=${rv.reviewerName}></span>
	 					<span class="col-3" th:text="${#temporals.format(rv.review.reviewTime, 'dd/MMM/yyyy HH:mm', 'EN')}"></span>
	 					
	 					<span class="col-5" ></span>
	 					<div class="col-1" th:id="${rv.review.unitReviewId}+'-upvote'">
	 						<a href=""> <i class="fa fa-lightbulb-o"></i></a>
	 						<span th:text=${rv.review.upvotes}></span>
							<script th:inline="javascript" >
								$('div#[[${rv.review.unitReviewId}]]-upvote a').click(function(event){
									event.preventDefault();
									var urlPrefix = '/unit_review/'+ [[${unit.unitCode}]] ;
									var urlSuffix = '/updateVotes/' + '[[${rv.review.unitReviewId}]]';
									
								    $.ajax({
								    	type: 'POST',
								        url: urlPrefix + urlSuffix,
								        success: function(res){
								        	 $('div#[[${rv.review.unitReviewId}]]-upvote span').text(res);
								        }
								    });	
		
								});	 		
							</script>
	 					</div>
		
	 					<!-- row 2 -->
	 					<div class="col-4">
		 					<span>Difficulty</span>
		 					<div class='starrr' th:id="${rv.review.unitReviewId}+'-difficulty'"></div>
		 					<script th:inline="javascript">
			 					$('.starrr#[[${rv.review.unitReviewId}]]-difficulty').starrr({
			 						rating: [[${rv.review.difficulty}]],
			 						readOnly: true
			 					})
		 					</script>
	 					</div>	
	 					<div class="col-4">	 					
		 					<span>Stress</span>
		 					<div class='starrr' th:id="${rv.review.unitReviewId}+'-stress'"></div>
		 					<script th:inline="javascript">
			 					$('.starrr#[[${rv.review.unitReviewId}]]-stress').starrr({
			 						rating: [[${rv.review.stress}]],
			 						readOnly: true
			 					})
		 					</script>
	 					</div>
	 					<div class="col-4">	 	 					
		 					<span>Usefulness</span>
		 					<div class='starrr' th:id="${rv.review.unitReviewId}+'-usefulness'"></div>
		 					<script th:inline="javascript">
			 					$('.starrr#[[${rv.review.unitReviewId}]]-usefulness').starrr({
			 						rating: [[${rv.review.usefulness}]],
		 							readOnly: true	
			 					})
		 					</script>	
	 					</div>
	 					 						 					
						 										
	 					<!-- row 3 -->
	 					
						<div class="col-12">
							<p class="pre-scrollable comment-body" th:text="${rv.review.comment}"></p>
						</div>
						<div class="col-12">
							<!-- <button class= "comment_edit" th:if="${islogin}" value="edit" id="comment_edit">Edit <i class="fa fa-edit"></i></button> -->
							<!-- Added by Rufeng, to enable the edit function -->
							<button class= "comment_edit" th:if="${islogin}" value="edit" th:id="${rv.review.unitReviewId}+'-comment_edit'">Edit <i class="fa fa-edit"></i></button>
							<script th:inline="javascript">
								$('#[[${rv.review.unitReviewId}]]-comment_edit').click(function(event){
									event.preventDefault();
									var urlPrefix = '/unit_review/'+ [[${unit.unitCode}]];
									var urlSuffix = '/edit_review/' + '[[${rv.review.unitReviewId}]]';
									window.location.href= urlPrefix + urlSuffix;
								});
							</script>
							<button class= "comment_delete" th:if="${islogin}" value="delete" th:id="${rv.review.unitReviewId}+'-comment_delete'">Delete<i class="fa fa-trash"></i></button>
							<script th:inline="javascript" >
								$('#[[${rv.review.unitReviewId}]]-comment_delete').click(function(event){
									event.preventDefault();
									var urlPrefix = '/unit_review/'+ [[${unit.unitCode}]] ;
									var urlSuffix = '/delete/' + '[[${rv.review.unitReviewId}]]';
								
								    $.ajax({
								    	type: 'POST',
								        url: urlPrefix + urlSuffix,
								        data: $(this).serialize(),
								        success: function(res){
								        	 window.location.href= urlPrefix; 
								        }
								    });	
		
								});
		 					</script>
		 					</div>					
					</div>
				</th:block>
 				</div>
 				<!-- User New Review Form -->
	 			<form id= "new-review-form" action="#" th:action="@{/unit_review/__${unitCode}__/submit_review}" th:object="${newReview}" method = "post" >
	 				<div id="studentName" th:text="${studentName}"></div>
	 				<div class="row">
	 					<div class="col-4">
		 					<span>Difficulty</span>
							<div class="starrr " id="star1"  ></div>
			 				<input class="d-none" type="text"  th:field="*{difficulty}"/>
			 			</div>
	 					<div class="col-4">
		 					<span>Stress</span>
							<div class="starrr" id="star2"></div>
			 				<input class="d-none" type="text"  th:field="*{stress}" />
			 			</div>
	 					<div class="col-4">
		 					<span>Usefulness</span>
							<div class="starrr" id="star3"></div>
			 				<input class="d-none" type="text"  th:field="*{usefulness}" />
			 			</div>
	
			 		</div>
			  		<div class="row">
			  			<div class="col-12">			
							<label for="comment">Comment:</label>
							<textarea class="form-control" rows="5" id="comment"
							 placeholder="Write your comment ..." th:field="*{comment}"></textarea>	
						</div>		
					</div>
			  		<div class="row">
			  			<div class="col-12">	
							<input class="d-none" type="number" th:value = "${unit.unitId}" name='unitId'/>
							<div><p></p></div>
						 	<input type="submit" value="Submit" id="new-submit"/>			
					 	</div>
					</div>	 	 					 			
	 			</form>
 			</div><!-- end of review column -->
    	
    	</div>
  
	</main>
	<footer class="footer">
      <div class="container">
        <span class="text-muted">written with Spring MVC, Spring Data, Thymleaf, JavaScript, HTML, CSS</span>
      </div>
    </footer>
</body>
</html>